.not-found-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .not-found-content {
    text-align: center;
  }
  
  .not-found-content h1 {
    font-size: 6rem;
    color: #f44336;
  }
  
  .not-found-content h2 {
    font-size: 3rem;
    color: #333;
  }
  
  .not-found-content p {
    font-size: 1.2rem;
    color: #666;
  }
  
  .not-found-content a {
    color: #007bff;
    text-decoration: none;
  }
  